# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
*.qm
*.prl

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# QtCreator 4.8< compilation database
compile_commands.json

# QtCreator local machine specific files for imported projects
*creator.user*

*_qmlcache.qrc
TaskManager/Tests/SerialTest/build/.ninja_deps
TaskManager/Tests/SerialTest/build/.ninja_log
TaskManager/Tests/SerialTest/build/build.ninja
TaskManager/Tests/SerialTest/build/cmake_install.cmake
TaskManager/Tests/SerialTest/build/CMakeCache.txt
TaskManager/Tests/SerialTest/build/CTestTestfile.cmake
TaskManager/Tests/SerialTest/build/dataInpTest
TaskManager/Tests/SerialTest/build/qtcsettings.cmake
TaskManager/Tests/SerialTest/build/.cmake/api/v1/query/cache-v2
TaskManager/Tests/SerialTest/build/.cmake/api/v1/query/cmakeFiles-v1
TaskManager/Tests/SerialTest/build/.cmake/api/v1/query/codemodel-v2
TaskManager/Tests/SerialTest/build/.cmake/api/v1/reply/cache-v2-656c0177c7a992719887.json
TaskManager/Tests/SerialTest/build/.cmake/api/v1/reply/cmakeFiles-v1-de29224723e139feac98.json
TaskManager/Tests/SerialTest/build/.cmake/api/v1/reply/codemodel-v2-eb9507662247e6c87e0b.json
TaskManager/Tests/SerialTest/build/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
TaskManager/Tests/SerialTest/build/.cmake/api/v1/reply/index-2024-05-11T13-36-47-0028.json
TaskManager/Tests/SerialTest/build/.cmake/api/v1/reply/target-dataInpTest_autogen_timestamp_deps-Debug-d07725410db1d622c95f.json
TaskManager/Tests/SerialTest/build/.cmake/api/v1/reply/target-dataInpTest_autogen-Debug-c2c31f2acf45f26a38d7.json
TaskManager/Tests/SerialTest/build/.cmake/api/v1/reply/target-dataInpTest-Debug-f0f024a3e7e0654671bd.json
TaskManager/Tests/SerialTest/build/CMakeFiles/clean_additional.cmake
TaskManager/Tests/SerialTest/build/CMakeFiles/cmake.check_cache
TaskManager/Tests/SerialTest/build/CMakeFiles/CMakeOutput.log
TaskManager/Tests/SerialTest/build/CMakeFiles/rules.ninja
TaskManager/Tests/SerialTest/build/CMakeFiles/TargetDirectories.txt
TaskManager/Tests/SerialTest/build/CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
TaskManager/Tests/SerialTest/build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
TaskManager/Tests/SerialTest/build/CMakeFiles/3.22.1/CMakeSystem.cmake
TaskManager/Tests/SerialTest/build/CMakeFiles/3.22.1/CompilerIdCXX/a.out
TaskManager/Tests/SerialTest/build/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
TaskManager/Tests/SerialTest/build/CMakeFiles/d/41834ea65e6f685032972b040592feb4266f1d665ef76fcc5ffa2698d050f7c9.d
TaskManager/Tests/SerialTest/build/CMakeFiles/dataInpTest_autogen.dir/AutogenInfo.json
TaskManager/Tests/SerialTest/build/CMakeFiles/dataInpTest_autogen.dir/AutogenUsed.txt
TaskManager/Tests/SerialTest/build/CMakeFiles/dataInpTest_autogen.dir/ParseCache.txt
TaskManager/Tests/SerialTest/build/dataInpTest_autogen/deps
TaskManager/Tests/SerialTest/build/dataInpTest_autogen/mocs_compilation.cpp
TaskManager/Tests/SerialTest/build/dataInpTest_autogen/timestamp
TaskManager/Tests/SerialTest/build/dataInpTest_autogen/include/tst_datainptest.moc.d
TaskManager/Tests/SerialTest/build/dataInpTest_autogen/QYYZ27L6DC/moc_serializer.cpp.d
TaskManager/Tests/SerialTest/build/Testing/Temporary/LastTest.log
